<h3> List of Definition Entries</h3>

<ul>
	<% @terms.words().each() do |word| %>
	<li><a href="/words/<%=word.id()%>"> <%=word.first_def()%> <%=word.second_def()%> <%=word.third_def()%> </a></li>
	<% end %>
</ul>


<a href='/words_entries/ <%=@words_entries.id()%>/words/new'>Add a New Definition</a>
<a href='/'>Return to the main page</a>	